body{
    // background:url(../../images/save.jpg) no-repeat top right;
    background-image:url(../../images/save.jpg)  ;
     background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    
}